nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul {
  display: flex;

  gap: 20px; /* Adjust as needed */
  list-style: none;
}

.nav-logo {
  color: #0073ff;
}
span {
  color: #ff9f6a;
}
